<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<meta charset="utf-8">-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Example 1</title>

        <style>
            svg {
                border: 1px solid #000;
            }

            /*.scaling {
                height: 500px;
            }*/
        </style>
        <script type="text/javascript" src="http://d3js.org/d3.v4.js" charset="utf-8"></script>
        <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
    </head>
    <body>
       
        <div class='example'>
        </div>
        <!--<script type="text/javascript" src="d3_ex_1.js" charset="utf-8"></script>-->

        <script>


            // var parseDate = d3.timeParse("%Y-%m");

            // var dataArray = [2, 13, 15, 8, 17, 20, 8];

            // var svg = d3.select(".rect").append("svg")
            //     .attr('height', '100%')
            //     .attr('width', '100%')
            //     ;

            // var rect = svg.selectAll('rect')
            //     .data(dataArray)
            //     .enter().append('rect')
            //     .attr('height', function(d,i) { return d*10; })
            //     .attr('width', '70')
            //     .attr('fill', 'darkgreen')
            //     .attr('x', function(d,i) {return 80*i;})
            //     .attr('y', '120')
            //     ;


            var data = [100, 1200];
            var w = 800;
            var h = 800;

            // console.log(d3);

            var scaling = d3.scaleLinear()
                .domain([0, 1200])
                .range([0, w])

            var canvas = d3.select(".example")
                .append("svg")
                .attr('width', w)
                .attr('height', h)
                .append("g")
                .attr("transform", "translate(30, 50)")
                ;

            var rect1 = canvas.append("rect")
                .attrs({'y': 100, 'x': 100, 'width': 100, 'height': 100, 'fill': 'blue'})
                // .attr('fill', "blue")
                // .attr('width', 100)
                // .attr('height', 100)
                // .attr('y', 100)
                // .attr('x', 100)
            ;

            var rect2 = canvas.append("rect")
                .attr('fill', "red")
                .attr('width', 100)
                .attr('height', 100)
                .attr('y', 400)
                .attr('x', 400)
            ;


            rect1.transition()
                .delay(500)
                .duration(2000)
                .attrs({'y': 100, 'x': 400, 'width': 150, 'height': 150})
                .on('end', function() {
                    d3.select(this).attr('fill', changeColor);
                })
                .transition()
                .duration(2000)
                .attrs({'y': 400, 'x': 400, 'width': 100, 'height': 100})
                .on('end', function() {
                    d3.select(this).attr('fill', changeColor);
                })
                .transition()
                .duration(2000)
                .attrs({'y': 400, 'x': 100, 'width': 150, 'height': 150})
                .on('end', function() {
                    d3.select(this).attr('fill', changeColor);
                })
                .transition()
                .duration(2000)
                .attrs({'y': 100, 'x': 100, 'width': 100, 'height': 100})
                .on('end', function() {
                    d3.select(this).attr('fill', changeColor);
                })  
            ;

            rect2.transition()
                .delay(500)
                .duration(2000)
                .attrs({'y': 400, 'x': 100, 'width': 150, 'height': 150})
                .on('end', function() {
                    d3.select(this).attr('fill', changeColor);
                })
                .transition()
                .duration(2000)
                .attrs({'y': 100, 'x': 100, 'width': 100, 'height': 100})
                .on('end', function() {
                    d3.select(this).attr('fill', changeColor);
                })
                .transition()
                .duration(2000)
                .attrs({'y': 100, 'x': 400, 'width': 150, 'height': 150})
                .on('end', function() {
                    d3.select(this).attr('fill', changeColor);
                })
                .transition()
                .duration(2000)
                .attrs({'y': 400, 'x': 400, 'width': 100, 'height': 100})
                .on('end', function() {
                    d3.select(this).attr('fill', changeColor);
                }) 
            ;


            function changeColor() {
              
              if (d3.select(this).attr("fill") == "red") {
                return "blue";
              } else {
                return "red";
              }

            }

            d3.json("test.json", function(error, data) {

                if (error) throw error;
                
                console.log(data);
            });

        </script>

    </body>
</html>